<% @lists.in_groups_of(4, false).each do |group| %>
     <div class="row mb-3">
     <% group.each do |list| %>
    <div class="col-md-3 col-md-offset-2 border p-3">
        <p>Place: <%= list.address %><p>
        <p>Date: <%= list.pickUpDate %><p>
        <% sum = 0 %>
        <% list.types.each do |ele| %>
            <% sum = sum + ele.weight %>
        <% end %>
        <p>Weight: <%= sum %> KG</p>

        <% if list.status === 0 %>
            <p>Status: Open</p>
        <% elsif list.status === 1 %>
            <p>Status: Assigned</p>
        <% else %>
            <p>Status: Completed</p>
        <% end %>
        <p><%= link_to "Show more", list_path(list) %></p>
    </div>
<% end %> 
</div>
<% end %>