<div class="container" style="height: 80vh;">
    <div class="row">
        <div class="col-sm-6 mx-auto mb-5">
            <div class="pl-5 logo">
                <%= image_tag('/logo.png', width: "90%", height: "auto", class: "bounce-in-bck") %>
            </div>
        </div>
        <div class="col-sm-12 mx-auto text-center mb-5">
            An app that connects you with recycling agents<br>to help you reduce your trash.
            <a href="#" class="start">Find out more.</a>
        </div>
    </div>
</div>