<div class="container" style="height: 80vh;">
    <div class="row">
        <div class="col-sm-6 mx-auto mb-5">
            <div class="pl-5 logo">
                <%= image_tag('/logo.png', width: "90%", height: "auto", class: "bounce-in-bck") %>
            </div>
        </div>
        <div class="col-sm-12 mx-auto text-center mb-5">
            An app that connects you with recycling agents<br>to help you reduce your trash.
            <span class="start button-box">Find out more.</span>
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>

        <div class="row">
            <div class="col-sm-6 text-center">
             Do you want to contribute to the cause? Join here as a recycler!
            </div>
            <div class="col-sm-6 text-center">
             Are you a collector of unused items and would like to earn more gains? Join us as a collector!
            </div>
        </div>
    </div>
</div>

<script>
    var button = document.querySelector('.button-box');
    button.addEventListener("click", function(e) {
      //alert("works");
      document.querySelector(".modal").style.display = "block";

      //when 'x' is clicked, modal box disappears
      let modalBox = document.querySelector(".modal");
      let span = document.querySelector(".close");

          span.onclick = function() {
            modalBox.style.display = "none";
          }
    });
</script>