<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-sm-6 mx-auto my-4">
            <div class="pl-5 logo">
                <%= image_tag('/logo.png', width: "90%", height: "auto", class: "bounce-in-bck") %>
            </div>
        </div>

        <div class="col-sm-12 mx-auto text-center mb-5">
        An app that connects you with recycling agents <br>so you can reduce your trash.
        <a href="#" class="discover">Discover how.</a>
        </div>
    </div>
</div>