<div class="container" style="height: 80vh;">
    <div class="row">
        <div class="col-md-7 mx-auto text-center mb-2 howto">
            <span>Bag your items</span>
            <i class="fa fa-long-arrow-right mx-3"></i>
            <span>Add New List</span>
            <i class="fa fa-long-arrow-right mx-3"></i>
            <span>We'll collect it!</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 text-center mx-auto mt-5">
            <h4>List of Material Types We Collect</h4>
            ....... <br>
            loop through types once admin role can CRUD types
        </div>
    </div>
</div>
