<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto text-center">
            <span>Bag your items</span>
            <i class="fa fa-long-arrow-right mx-3"></i>
            <span>Add New List</span>
            <i class="fa fa-long-arrow-right mx-3"></i>
            <span>We'll collect it!</span>
        </div>
    </div>
</div>
