<h1>Types#show</h1>
<p>Find me in app/views/types/show.html.erb</p>


        <div>
            <%# Artist Information %>
            <h3>Material: <%= @type.material.split('"')[1] %></h3>
            <h3>Remarks: <%= @type.remarks %></h3>
            <h3>Weight: <%= @type.weight %>kg</h3>
        </div>
