    <h3><%= title %> (<%= lists.length%>)</h3>

    <% if lists.length > 0 %>
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <% lists.each do |li| %>
            <li class="glide__slide">
                <div style="width: 200px;">
                    <% if li.status === 0 %>
                        <span class="badge badge-success">Open</span>
                    <% elsif li.status === 1 %>
                        <span class="badge badge-info">Assigned</span>
                    <% else %>
                        <span class="badge badge-secondary">Completed</span>
                    <% end %>
                    <p><%= li.address %></p>
                    <%= link_to "Show more", list_path(li), :class => 'btn btn-outline-info mb-3' %>
                </div>
            </li>
            <% end %>
        </ul>
      </div>
    
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div>
    </div>
    <% end %>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
    const config = {
        type: 'carousel',
        startAt: 0,
        perView: 3,
        breakpoints: {
            1024: { perView: 2 },
            700: { perView: 1 }
        }
    }
    new Glide('.glide', config).mount()
</script>
