<h3><%= title %> (<%= lists.length%>)</h3>
<% lists.each do |li| %>
    <p>Pick up address: <%= li.address %></p>
    <p>These are the items... #do a loop through the items</p>
    <%= link_to "Show more", list_path(li), :class => 'btn btn-outline-info mb-3' %>
<% end %>
