<h3><%= title %> (<%= lists.length%>)</h3>

<div>
    <% lists.each do |li| %>
        <div>
            <p>Pick up address: <%= li.address %></p>
            <%= link_to "Show more", list_path(li), :class => 'btn btn-outline-info mb-3' %>
            <hr>
        </div>
    <% end %>
</div>