// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card-m {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    height: 320px;
    -webkit-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
    -moz-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
    box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
}

.card-text {
    font-size: 15px;
}