// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-login {
    background: turquoise;
    width: 180px;
    overflow: auto;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    padding: 8px 12px;
    border: 0;
    border-radius: 10px;
    color: #293173;
}

.flex {
    display: flex;
    flex-direction: row;
}