// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-login {
    background: turquoise;
    width: 180px;
    overflow: auto;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    padding: 8px 12px;
    border: 0;
    border-radius: 10px;
    color: #293173;
}

.flex {
    display: flex;
    flex-direction: row;
}

.profile {
    background: white;
    max-width: 240px;
    padding: 30px;
    -webkit-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
    -moz-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
    box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11)
}

.dashboard {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

.badge-scs {
    color: white;
    background-color: turquoise;
    font-size: 18px;
    padding: 6px 10px;
}

.badge-inf {
    color: white;
    background-color: #293173;
    font-size: 18px;
    padding: 6px 10px;
}